extends layout

block content
  include partials/header
  
  .container.page
    .blog-content
      .row
        .col.col-md-2.d-none.d-md-block
          .post-nav.font-light
            a.hidden-link(href="/blog/")
              ion-icon.align-middle(name="arrow-back")
              | Posts
        .col-md-8
          figure
            img(src=postMetaData.image alt="postMetaData.description")
            if postMetaData.imageDesc
              figcaption= postMetaData.imageDesc
            else
              figcaption= postMetaData.description

          p.author
            if postMetaData.author
              =postMetaData.author
            else
              =blogInfo.blog.author
            span.separator | 
            =postMetaData.date
          h1.post-title= postMetaData.title
          | !{content}

          p Tags: 
  
          .alert.alert-secondary(role='tags')
            each tag, ind in postMetaData.tags
              a(href="/tags/" + tag)= tag
              if ind !== postMetaData.tags.length - 1
                |, 

          .post-nav.d-flex.justify-content-between.align-items-center.mt-4.mb-5
            div
              if prevPostMetaData
                a(href=prevPostMetaData.slug)
                  span.direction
                    i.gg-arrow-left
                    | Previous
                  br
                  span.title "#{prevPostMetaData.title}"
            div.text-right
              if nextPostMetaData
                a(href=nextPostMetaData.slug)
                  span.direction
                    | Next
                    i.gg-arrow-right
                  br
                  span.title "#{nextPostMetaData.title}"

  include partials/footer