doctype html
html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    script(type="module" src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js')
    script(type="text/javascript" src="/javascript/interactions.js" charset="utf-8")
    //- TODO: https://stevenwestmoreland.com/2018/01/how-to-include-bootstrap-in-your-project-with-webpack.html
    
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel="icon" href="/images/favicon-64x64.png" type="images/x-icon")

    include partials/_analytics

    //- check if blogInfo object is present, a lot depends on it
    if blogInfo
      if isBlogPost
        title #{postMetaData.title} • #{blogInfo.project.title}
      else
        title= blogInfo.project.title

      meta(property='og:locale' content='en_US')
      meta(property='og:site_name' content=blogInfo.project.title)

      meta(property='og:type' content='website')
      if isBlogPost
        meta(property='og:title' content=postMetaData.title + ' by ' + postMetaData.author + ' • ' + blogInfo.project.title)
        meta(name='twitter:title' content=postMetaData.title + ' by ' + postMetaData.author + ' • ' + blogInfo.project.title)
        meta(property='og:description' content=postMetaData.description)
        meta(name='description' content=postMetaData.description)
        meta(name='twitter:description' content=postMetaData.description)
        meta(property='og:url' content=path)
      else
        meta(property='og:title' content=blogInfo.project.title + ' • ' + blogInfo.project.description)
        meta(name='twitter:title' content=blogInfo.project.title + ' • ' + blogInfo.project.description)
        meta(property='og:url' content='/')
        meta(property='og:description' content=blogInfo.project.description)
        meta(name='description' content=blogInfo.project.description)

      //- Share images
      if isBlogPost && postMetaData.image !== undefined
        meta(property='og:image' content=postMetaData.image)
        meta(name='twitter:image' content=postMetaData.image)
      //- share image for About
      else if path.includes('about')
        meta(property='og:image' content=imageFullUrl)
        meta(name='twitter:image' content=imageFullUrl)
      else
        meta(property='og:image' content='/images/og-image.jpg')

      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:creator" content="usetapirio")

  body
    block content
